* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

.container {
    max-width: 1140px;
    margin: 0 auto;
}
    
.img_zone-1 {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-image: url('imagezone1/background.png');
    height: 672px;
}

.boxbox{
    height: 672px;
    /* border: 1px solid red; */
}
.text_box1{

    margin-left: 47px;
    padding-top: 50px;
}

.in_textbox1_1{
    margin-bottom: 20px;
    color: white;
    line-height: 60px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.in_textbox1_2{
    line-height: 3rem;
}

.in_textbox1_2 p1{
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 45px;
    font-weight: 400;
    background: linear-gradient(90.14deg, #14DB60 -2.56%, #AAFFCB 115.32%);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;
}

.in_textbox1_2 p2{
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 60px;
    font-weight: bolder;
    background: linear-gradient(90.14deg, #14DB60 -2.56%, #AAFFCB 115.32%);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;
}

.text_box2{
    margin-bottom: 20px;
    display: flex;
    margin-left: 47px;
}
.in_textbox2_1 p{
    color: white;
    font-weight: bolder;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 50px;

}
.in_textbox2_1 span{
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 30px;
}

.time_textbox2{
    width: 188.27;
    text-align: center;
    height: 25.88;
    border-radius: 20px;
    color: #100751;
    font-weight: bold;
    background-color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;
}
.in_textbox2_2{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.text_at_grand_ballroom{
    text-align: left;
    margin-left: 19px;
}
.in_textbox2_2 p1{
    color: white;
    font-weight: bolder;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 30px;
    background: linear-gradient(90.14deg, #14DB60 -2.56%, #AAFFCB 115.32%);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;
}
.in_textbox2_2 p2{
    color: white;
    font-weight: 300;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;
}
.text_box3{
    
    margin-left: 47px;
}
.text_box3 h1{
    color: #FFFFFF;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
    font-size: 28px;
    
}
.text_box3 p{
    color: #BAD0F2;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    font-size: 19px;

}
.text_box4{
    width: fit-content;
    margin-left: 47px;
    align-items: center;
    height: 35.6px;
    padding: 30px;
    display: grid;
    grid-template-columns:repeat(7,10fr);
    grid-gap: 20.99px;
}

.img_zone-2 {

    margin: auto;
    padding: 2%;
    line-height: 2;
    display: block;
    text-align: center;
    height: 196px;
    background: linear-gradient(183.65deg, #10192c 90.4%, rgba(0, 13, 56, 0) 230%);
}

.img_zone-2 div p {
    font-size: 26px;
    font-weight: bold;
    font-family: "Noto Sans Thai", sans-serif;
    color: white;

}

.img_zone-2 div p span {
    font-size: 20px;
    font-family: "Noto Sans Thai", sans-serif;
    color: #BAD0F2;

}

.img_zone-2 div span {
    color: #BAD0F2;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;

}

.img_zone-2 div button {
    font-size: 26px;
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    display: block;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    height: 57.88px;
    border-radius: 8px;
    width: 300px;
    background: linear-gradient(115.71deg, #0BB64C 2.75%, #27D96B 79.77%);

}

.img_zone-3 {

    margin: auto;
    padding: 2%;
    line-height: 2;
    display: block;
    text-align: center;
    height: 405px;
    background: white;
}

.img_zone-3 h1 {
    color: #1D1A73;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
}

.img_zone-3 h1 span {
    color: #0CC553;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
}

.img_zone-3 li {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 23px;
    text-align: left;
    margin-left: 75px;

}

ul {
    list-style: none;
    line-height: 40px;
}

li {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="2 2 25 25" fill="%2325DF6C"><path d="M12 2 4 12l8 10 8-10-8-10Z"></path></svg>')
}
li::marker{
    font-size: 30px;
}

.img_zone-4 {
    margin: auto;
    margin-top: auto;
    background-image: url('imagezone4/bg2.png');
    border-color: #FFFFFF;
    padding: 2%;
    line-height: 2;
    display: block;
    height: 837px;
    background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
    background-size: cover; /* ปรับขนาดให้เต็มพื้นที่ */
    background-position: center;
    /* background: linear-gradient(180deg, #EEF7FF -16.6%, #F3FBFF 63.13%); */
    

}

.header1 {
    text-align: left;
    word-spacing: 2px;
}

.header1 h1 {
    background: linear-gradient(111.88deg, #0E044B -24.36%, #2C309B 66.53%, #89E8FD 142.57%);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;    
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
    text-align: left;
    display: inline-block;
    padding: 2px;
}


.header1 img {
    vertical-align: -10px;
}

.person {
    margin: auto;
    width: fit-content;
    height: 300px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,10fr);
    grid-gap: 50px;
    /* background: linear-gradient(180deg, #EEF7FF -16.6%, #F3FBFF 63.13%); */
}

.person-p {
    text-align: center;
    line-height: 1.5;
}


.p1{
position: relative;
z-index:10;
}

.bg{
position: absolute;
/*left right top bottom ส่วนขยับตำแหน่งที่ลูกศรอยู่บนวงกลม*/
left: 17.77%;
right: 17.77%;
top: auto;
bottom: -715px;
z-index:auto;
}

.person-p p1 {
    color: #1F2883;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    font-weight: bold;   
}
.person-p p2 {
    color: #359EFF;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 18px;
    font-weight: bold;   
}
.person-p p3 {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 18px;  
}

.img_zone-5 {
    margin-top: 3%;
    line-height: 2;
    display: block;
    height: 744px;
}

.box0 {
    background-color: #EEF6FF;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    height: 100px;
    border-top-left-radius :20px;
    border-top-right-radius :20px;
}

.box1 {
    background-color: #EEF6FF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 20px;
    height: 250px;
}

.box2 {
    background-color: #EEF6FF;
    padding: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    height: 240px;
}

.box2-1 {
    margin-right: 20px;
}

.box3 {
    background-color: #EEF6FF;
    padding: 20px;
    text-align: center;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    height: 50px;
    border-bottom-left-radius :20px;
    border-bottom-right-radius :20px;
}
.info-time{
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    width: 305px;
    margin-left: 40px;
    background-color: #0CC553;
    border-radius: 100px;  
    margin-right: 70%;
    text-align: center;
}

.info {
    color: #262E3F;
    line-height: 45px;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 23px;
    margin-top: 20px;
    text-align: left;
    margin-left: 50px;
}

.info1 {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 23px;
}

.info-time1{
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    width: 231px;
    height: 44px;
    margin-right: 20px;
    background-color: #0CC553;
    border-radius: 100px; 
    margin-left: 50px;
}

.img_zone-6 {
    display: block;
    height: 367px;
}
.map{
    padding: 50px;

}
.mapbox {
    background: linear-gradient(230.87deg, #5D97E3 -7.19%, #0C2192 66.6%);
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    height: 290px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    line-height: 1.5;
}

.mapbox-1 p{
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    font-size: 38px;
    font-weight: 700;
}
.mapbox-1 p1{
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 500;
}
.mapbtn{
    background-color: #359EFF;
    border-radius: 45px;
    justify-content: center;
    width: 344px;
    display: flex;
    align-items: center;
    height: 68px;
    font-size: 30px;
    font-weight: 700;
}

.ic_location{
    text-align: center;
    margin: 40px;
    margin-bottom: 110px;
    width: 81.66px;
    height: 81.66px;
    background-color: #0C1D77;
    border-radius: 100%;
}

.imgroom {
 margin-left: 50px;
}
.imgping{
    margin-top: 15px;
}

.img_zone-7 {
    display: block;
    height: 392px;
}

.prizes {
    box-shadow: 0px 3px 4px  green;
    margin-left: 25px;
    margin-right: 31px;
    margin-bottom: 47px;
    align-items: center;
    border-radius: 20px;
    line-height: 1.5;
}
.text-prizes {
    background: linear-gradient(111.88deg, #0E044B -24.36%, #2C309B 66.53%, #89E8FD 142.57%);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;   
    padding: 1rem; 
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
}

.prizes-2 {
    text-align: center;
    align-items: baseline;
    height:187.18px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.w1{
    position: relative;
    z-index:10;
    }

.picreward p1 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.picreward span {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #6F7788;
}

.picreward p2 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #6F7788;
}
.ward-1 .w2{
    margin-bottom: 30px;
}

.img_zone-8 {

    margin: auto;
    padding: 2%;
    line-height: 2;
    display: block;
    text-align: center;
    height: 196px;
    background: linear-gradient(360deg,  #dbf3ff 13.78%, rgba(255, 255, 255, 0.96) 52.31%, rgba(255, 255, 255, 0) 83.81%);

}

.img_zone-8 div p {
    font-size: 26px;
    font-weight: bold;
    font-family: "Noto Sans Thai", sans-serif;
    color: #0C2292;
    font-weight: 700;
}

.img_zone-8 div p span {
    font-size: 24px;
    opacity: 80%;
    font-family: "Noto Sans Thai", sans-serif;
    color: #6E7788;
    font-weight: 400;

}

.img_zone-8 div span {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;
    font-weight: 400;

}

.img_zone-8 div button {
    font-size: 30px;
    border: #0BB64C;
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    display: block;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    height: 57.88px;
    border-radius: 8px;
    width: 500px;
    height: 68px;
    background: linear-gradient(115.71deg, #0BB64C 2.75%, #27D96B 79.77%);
}

.contact{
    height: 67px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contact p{
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 22px;
    padding: 10px;
    font-weight: 500;
    color: #6E7788;
}
.contact p1{
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    padding: 10px;
    font-weight: 600;
    color: #3138A0;
}

.contact span{
    font-family:"Poppins";
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #3138A0;
}