* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.img_zone-1 {
    display: flex;
    height: 672px;
    background: linear-gradient(24.25deg, #0E044B -8.36%, #2C309B 55.39%, #89E8FD 115.96%);

}


.img_zone-1 h1 {
    width: 468px;
    margin-right: auto;
    margin: 0 50;
    height: 208.73px;
    padding: 60px;
    font-size: 50px;
    color: white;
    border: 1px solid red;
}

.img_zone-1 p1 {
    font-size: 50px;
    display: flex;
    margin: auto;
    background: -webkit-linear-gradient(to bottom left, #14DB60, #AAFFCB);
    font-family: 'noto-sans-thai';
    border: 1px solid red;
}

.img_zone-1 p2 {
    font-size: 50px;
    display: flex;
    font-family: 'noto-sans-thai';
    border: 1px solid red;
}

.img_zone-1 p3 {
    font-size: 50px;
    display: flex;
    font-family: 'noto-sans-thai';
    border: 1px solid red;
}

.img_zone-1 p4 {
    font-size: 50px;
    font-family: "Noto Sans Thai", sans-serif;
    border: 1px solid red;
}

.img_zone-1 p5 {
    font-size: 54px;
    font-family: "Noto Sans Thai", sans-serif;
    border: 1px solid red;
}

.img_zone-1 p6 {
    font-size: 19px;
    font-family: "Noto Sans Thai", sans-serif;
    border: 1px solid red;
}

.img_zone-1 div img {
    display: block;
    height: 654px;
    width: 404px;
    margin-right: 0;
    margin-left: auto;
    border: 1px solid red;
}

.img_zone-2 {

    margin: auto;
    padding: 2%;
    line-height: 2;
    display: block;
    text-align: center;
    height: 196px;
    background: linear-gradient(183.65deg, #10192c 90.4%, rgba(0, 13, 56, 0) 230%);
}

.img_zone-2 div p {
    font-size: 26px;
    font-weight: bold;
    font-family: "Noto Sans Thai", sans-serif;
    color: white;

}

.img_zone-2 div p span {
    font-size: 20px;
    font-family: "Noto Sans Thai", sans-serif;
    color: #BAD0F2;

}

.img_zone-2 div span {
    color: #BAD0F2;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;

}

.img_zone-2 div button {
    font-size: 26px;
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    display: block;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    height: 57.88px;
    border-radius: 8px;
    width: 300px;
    background: linear-gradient(115.71deg, #0BB64C 2.75%, #27D96B 79.77%);

}

.img_zone-3 {

    margin: auto;
    padding: 2%;
    line-height: 2;
    display: block;
    text-align: center;
    height: 405px;
    background: white;
}

.img_zone-3 h1 {
    color: #1D1A73;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
}

.img_zone-3 h1 span {
    color: #0CC553;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
}

.img_zone-3 li {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 23px;
    text-align: left;
    margin-left: 75px;

}

ul {
    list-style: none;
}

li {

    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="2 2 25 25" fill="%2325DF6C"><path d="M12 2 4 12l8 10 8-10-8-10Z"></path></svg>')
}


.img_zone-4 {
    margin: auto;
    border-color: #FFFFFF;
    padding: 2%;
    line-height: 2;
    display: block;
    height: 837px;
    background: linear-gradient(180deg, #EEF7FF -16.6%, #F3FBFF 63.13%);
    

}

.header1 {
    text-align: left;
    word-spacing: 2px;
}

.header1 h1 {
    color: #1D1A73;
    background: linear-gradient(111.88deg, #0E044B -24.36%, #2C309B 66.53%, #89E8FD 142.57%);
    font-family: "Noto Sans Thai", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    text-align: left;
    display: inline-block;
    padding: 2px;
}

.header1 img {
    vertical-align: -10px;
}

.person {
    margin: auto;
    width: fit-content;
    height: 300px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,10fr);
    grid-gap: 50px;
    background: linear-gradient(180deg, #EEF7FF -16.6%, #F3FBFF 63.13%);
}

.person-p {
    text-align: center;
    line-height: 1.5;
}


.p1{
position: relative;
z-index:10;
}

.bg{
position: absolute;
/*left right top bottom ส่วนขยับตำแหน่งที่ลูกศรอยู่บนวงกลม*/
left: 17.77%;
right: 17.77%;
top: auto;
bottom: -715px;
z-index:auto;
}

.person-p p1 {
    color: #1F2883;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    font-weight: bold;   
}
.person-p p2 {
    color: #359EFF;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 18px;
    font-weight: bold;   
}
.person-p p3 {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 18px;  
}

.img_zone-5 {
    margin-top: 3%;
    line-height: 2;
    display: block;
    height: 744px;
}

.box0 {
    background-color: #EEF6FF;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    height: 100px;
    border-top-left-radius :20px;
    border-top-right-radius :20px;
}

.box1 {
    background-color: #EEF6FF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    height: 250px;
}

.box2 {
    background-color: #EEF6FF;
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    height: 240px;
}

.box2-1 {
    margin-right: 20px;
}

.box3 {
    background-color: #EEF6FF;
    margin-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align:auto;
    margin-top: 5px;
    margin-right: 20px;
    height: 96px;
    border-bottom-left-radius :20px;
    border-bottom-right-radius :20px;
}
.info-time{
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    margin-left: 40px;
    background-color: #0CC553;
    border-radius: 20px;  
    margin-right: 70%;
    text-align: center;
}

.info {
    color: #262E3F;
    line-height: 45px;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 23px;
    margin-top: 20px;
    text-align: left;
    margin-left: 50px;
}

.info1 {
    color: #262E3F;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 23px;
    margin-left: 50px;
}

.info-time1{
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    margin-right: 20px;
    background-color: #0CC553;
    border-radius: 20px; 
    margin-left: 50px;
    text-align: center;
}

.img_zone-6 {
    line-height: 2;
    display: block;
    height: 367px;
}

.mapbox {
    background: linear-gradient(230.87deg, #5D97E3 -7.19%, #0C2192 66.6%);
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    height: 290px;
    display: flex;
    align-items: center;
    margin: 25px;
    border-radius: 20px;
    line-height: 1.5;
}

.mapbox-1 p{
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    font-size: 38px;
    font-weight: 700;
}
.mapbox-1 p1{
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    font-size: 32px;
    
    font-weight: 500;
}
.mapbtn{
    background-color: #359EFF;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    width: 344px;
    height: 68px;
    font-size: 30px;
    font-weight: 700;
}

.ic_location{
    text-align: center;
    margin: 40px;
    width: 81.66px;
    height: 81.66px;
    background: #0B0B0B;
    border-radius: 100%;
}

.imgroom {
 margin-left: 100px;
}
